<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yuicompressor_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <yuicompressor_gui.Properties.Settings>
            <setting name="CompressorVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="JavaPath" serializeAs="String">
                <value>[Auto Detect]</value>
            </setting>
            <setting name="ArgCharset" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="ArgLineBreak" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ArgJsNoMunge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArgJsPreserveSemicolon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArgJsDisableOptimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArgType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputSepearatedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputSepearatedFilePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputSepearatedFileSuffix" serializeAs="String">
                <value>.min</value>
            </setting>
            <setting name="OutputCombinedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputShowAsText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputSepearatedFileOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputShowAsTextPrettyPrint" serializeAs="String">
                <value>True</value>
            </setting>
        </yuicompressor_gui.Properties.Settings>
    </userSettings>
</configuration>